:root {
    --color-primary: #f79a4f;
    --color-secondary: #FFF9EB;
    --color-tertiary: #C4C4C4;
    --color-button: #fe652b;
    --color-button-hover: #e55720;
    --color-text: #494949;
    --color-white: #FFFFFF;
    --color-element-border: #a8a3a3;
}

/* Estilos gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100vh;
    width: 100%;
}

body {
    height: 100vh;
    background-color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    gap: 0px;
}

/* Banner */
.header-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 10% 0px 10%;
    width: 100%;
    gap: 2%;
}

.header-banner img {
    min-width: 60px;
    max-width: 277px;
    max-height: 450px;
}

/* Seção de entrada */
.input-section {
    padding-bottom: 0%;
    flex: 60%;
    background-color: var(--color-secondary);
    border-radius: 64px 64px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
}

/* Títulos */
.main-title {
    font-size: clamp(20px, 12vw, 48px);
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: italic;
    color: var(--color-white);
    text-align: center;
    box-sizing: border-box;
}

.section-title {
    font-family: "Inter", serif;
    font-size: clamp(20px, 10vw, 36px);
    font-weight: 700;
    color: var(--color-primary);
    margin: 10px 0;
    text-align: center;
}

.section-p {
    font-family: "Inter", serif;
    font-size: 14px;
    font-weight: 400;
    color: var(--color-text);
    margin: 10px 0;
    text-align: left;
}

.input-container{
    width: 115%;
    max-width: 664px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 15px;
    gap: 5px;
}

/* Contêineres de entrada e botão */
.input-wrapper {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    max-width: 600px;
    margin-left: 10%;
    gap:0px;
}

/* Estilos de entrada de texto */
.input-name {
    width: 100%;
    padding: 10px 15px;
    border: 2px solid var(--color-element-border);
    border-radius: 25px 0 0 25px;
    color: var(--color-text);
    font-size: clamp(11px, 2vw, 16px);
    font-family: "Merriweather", serif;
    box-shadow: 0 4px 8px var(--color-element-border);
    border-right: none;
    min-width: 50%;
}

.input-name:focus-visible {
    outline: var(--color-element-border);
}

.button-container {
    padding: 0% 20% 0% 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    gap: 5px;
}

.button-img {
    width: clamp(5%, 20%, 20%);
}

/* Estilos de botão */
button {
    padding: 10px 20px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    border-radius: 25px;
    border: 2px solid var(--color-element-border);
    box-shadow: 0 4px 8px var(--color-element-border);
    cursor: pointer;
}

.button-add {
    display: flex;
    background-color: #4bac73;
    color: #ffffff;
    border-radius: 0 25px 25px 0;
    max-width: 50%;
    font-size: clamp(8px, 2vw, 16px);
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.button-add:hover {
    background-color: #36945d;
}

.button-add:disabled {
    background-color: #a8d5b1;
    cursor: not-allowed;
}

/* Listas */
ul {
    list-style-type: none;
    color: var(--color-text);
    font-family: "Inter", sans-serif;
    font-size: clamp(14px, 7vw, 18px);
    margin-top: 20px;
}

li {
    font-family: "Inter", sans-serif;
    font-size: clamp(14px, 2vw, 18px);
}

.result-list {
    margin-top: 0;
    margin-bottom: 15px;
    color: #36945d;
    font-size: clamp(16px, 7vw, 30px);
    font-weight: bold;
    text-align: center;
}

/* Botão de sortear título */
.button-draw {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border: 2px solid var(--color-button);
    box-shadow: 0 4px 8px var(--color-button);
    color: var(--color-white);
    background-color: var(--color-button);
    font-size: clamp(8px, 2vw, 16px);
    width: clamp(50px, 100%, 300px);
    max-height: 55px;
    padding: 5%;
    gap: 5px;
}

.button-draw:hover {
    background-color: var(--color-button-hover);
    border: 2px solid var(--color-button-hover);
    box-shadow: 0 4px 8px var(--color-button-hover);
}

.button-restart {
    width: clamp(30px, 10vw, 50px);
    height: clamp(30px, 10vw, 50px);
    cursor: pointer;
}

.button-restart:hover {
    filter: brightness(0.9);
}

.button-hidden-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: clamp(50px, 100%, 300px);
    max-height: 55px;
}

.hidden{
    visibility: hidden;
}

.hidden-button {
    box-sizing: border-box;
    border: 2px solid #d38755;
    box-shadow: 0 4px 8px  #d38755;
    width: 50%;
    height: clamp(30%, 10vw, 80%);
    background-color:#d38755;
    font-size: clamp(8px, vw, 14px);
}

.hidden-button:disabled{
    background-color: #eab89a;
    border: 2px solid #eab89a;
    box-shadow: none;
    cursor: not-allowed;
}

#limpar-resposta{
    background-color:#84709c;
    border: 2px solid #84709c;
    box-shadow: 0 4px 8px  #84709c;
}

#limpar-resposta:hover{
    background-color: #685a7a;
    border: 2px solid #685a7a;
    box-shadow: 0 4px 8px  #685a7a;
}